html, body{
    padding: 0;
    margin: 0;
}

#top, #bottom, #left, #right {
	background: #E5E9F2;
    position: fixed;
    z-index: -99;
}
#left, #right {
    top: 0; bottom: 0;
    width: 3vmax;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
    left: 0; right: 0;
    height: 3vmax;
    }
    #top { top: 0; }
    #bottom { bottom: 0; }

.container{
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
}

.flex{
    flex: 1;
}

.container1{
    display: flex;
    width: 2vmax;
    height: 100%;
    justify-content: center;
}

.headertext{
    color: #47525E;
    font-family: Glacial Indifference;
    font-size: 5vmax;
    font-weight: 700;
    line-height: 51px;
    width: 716.82px;
    text-align: center;
    letter-spacing: 1vmax;
    padding: 5vmax;
    margin-top: 7vh;
    word-wrap: break-word;
}

.header{
    color: white;
    font-family: Glacial Indifference;
    font-size: 7vmax;
    font-weight: 700;
    line-height: 51px;
    text-align: center;
    letter-spacing: 1vmax;
    padding: 5vmax;
    text-shadow:  8px 8px #47525E;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkgray;
}

.box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 60%;
    padding: 20px;  
    background: rgba(71, 82, 94, 0.4);
    color: white;
    text-align: center;
    box-shadow: 0 0 30px rgba(71, 82, 94, 0.4);
  }

  .innerbox{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    padding: 20px;  
    background: rgba(52, 63, 75, 0.28);
    color: white;
    text-align: center;
    box-shadow: 0 0 30px rgba(52, 63, 75, 0.28);
  }

  .flexDef {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100vw;
      justify-content: center;
  }

  .flex6 {
      flex: 6;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }

  .button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
  }