{% extends 'Event/base.html' %}
<!doctype html>
{% load static %}
<html lang="en">
    
   <head>
{% block body %}
       <title>Events list</title>
       <link rel="icon" href="{% static 'Event/images/if_event_326634.png' %}">
       <link rel="stylesheet" type="text/css" href="{% static 'Event/style.css' %}">
    </head>
    
    <style>
        #eventtext{
            color: #384458;
            letter-spacing: 1vw;
            font-size: 3.6vw;
            margin-bottom: 5vw;
        }
        
        #eventname{
            color: #384458;
            font-size: 150%;
        }
        
        #eventdesc{
            color: #747578;
            font-size: 120%;
        }
    </style>
    
    <body style="background-color: #dddddd">
        
        <div class="container text-center" id="eventtext">
            <p style="margin-top: 80px"><b>Fabulously planned,</b></p>
            <p><b>remembered always.</b></p>
        </div>
		{% for event in data %}
		<div class="container mt-5">
			<div class="row">
				<div class="col-md-4">
					<img src="{% static event.eventimage %}" width="85%">
				</div>
				<div class="col-md-8">
					<p id="eventname"><b>{{ event.eventname }}</b> <i>{{ event.eventdate }}</i></p>
					<a href="{% url 'regist' site=event.eventsite %}" class="btn btn-secondary btn-lg mb-4">Register Now</a>
					<button onclick="location.href='{{ event.eventlink }}'" class="btn btn-secondary btn-lg mb-4">See Details</button>
					<p id="eventdesc">{{ event.eventdetail }}
				</div>
			</div>
		</div>
		<div class="container mt-5">
			<p id="eventname"><b> Participant</b></p>
			<table class="table">
				<thead class="thead-dark">
					<tr>
					  <th scope="col">Registered Participant</th>
					  <th scope="col">User Name</th>
					  <th scope="col">Registration Date</th>
					</tr>
				</thead>
				<tbody>
					{% if event.participant.all %}
						{% for person in event.participant.all %}
							<tr>          
							  <td>{{ person.username }}</td>
							  <td>{{ person.uname }}</td>
							  <td>{{ person.created_date }}</td>
							</tr>
						{% endfor %}
					{% endif %}
				</tbody>
			</table>
		</div>	
		{% endfor %} 
    </body>
{% endblock %}   
</html>