{% extends 'Event/base.html' %}
<!doctype html>
{% load static %}
<html lang="en">
    
   <head>
       <link rel="stylesheet" type="text/css" href="{% static 'Event/style.css' %}">
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" type="text/css">
{% block body %}
       <title> Register Event</title>
    </head>
    
    
    <body style="background-color: #dddddd"></body>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" type="text/css">
		<center>
			<div class="col-lg-4 col-xl-offset-1">
				<div class="card" style=" width:100%; height:auto; margin-top: 100px">
					<div class="card-body">
						<h3  class="card-title"><b>Be a part of our</b></h3>
						<h3 class="card-title"><b>extraordinary experiences.</b></h3>
						<form id="form" method="POST" style='margin-top:30px'>
							{% csrf_token %}
							{{ form }}
							<input  id="submit" type="submit" class="btn btn-lg btn-block btn-info" style= " margin-top: 10px;font-size: 22px; font: Garamond" value="Submit">
						</form>
						<center><p class="card-text"><small class="text-muted">By signing up you agree to our Terms & Conditions</small></p></center>
					</div>
				</div>
			</div>
		</center>
        
        
{% endblock %}
        
    
    
</html>