{% extends 'Event/base.html' %}
<!doctype html>
{% load static %}
<html lang="en">
    
   <head>
       <link rel="stylesheet" type="text/css" href="{% static 'Event/style.css' %}">
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" type="text/css">
{% block body %}
       <title> Register Event</title>
    </head>
    
    
    <body style="background-color: #dddddd"></body>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" type="text/css">
		<center>
			<div class="col-lg-4 col-xl-offset-1">
				<div class="card " style="width: 500px; height:550px; margin-top: 100px">
					<div class="card-body">
						
						<h2  class="card-title"><b>Be a part of our</b></h2>
						<h2 class="card-title"><b>extraordinary experiences.</b></h2>
						<form id="form" method="POST" action="{% url 'registmember' %}"  style='margin-top:30px'>
							{% csrf_token %}
							<script>
								{% if messages %}
									<ul class="messages">
										{% for message in messages %}
											<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
										{% endfor %}
									</ul>
								{% endif %}
							</script>
							{{ form }}
							<br>
							<input  id="submit" type="submit" class="btn btn-lg btn-block btn-info" style= " margin-top: 10px;font-size: 22px; font: Garamond" value="Submit">
						</form>
						
					</div>
				</div>
			</div>
		</center>
        
        
{% endblock %}
        
    
    
</html>