{% extends 'Event/base.html' %}
<!doctype html>
{% load static %}
<html lang="en">
    
   <head>
{% block body %}
       <title>Your Events</title>
       <link rel="stylesheet" type="text/css" href="{% static 'Event/style.css' %}">
    </head>

    <style>
        .titletext{
            margin-top: 5vw;
            margin-bottom: 5vw;
            color: black;
        }

        #justtext{
            color: #384458;
            letter-spacing: 8px;
            font-size: 2vw;
            margin-bottom: 2vw;
        }
    
        #about{
            background-color: #fdfbfb;
            padding-left: 7vw;
            padding-right: 7vw;
            padding-top: 5vw;
            padding-bottom: 5vw;
        }
    </style>

    <body style="background-color: #dddddd">

        <section class = introducing>
            <div class="container-fluid text-center" style="margin-top: 7%">
                    <img src="https://www.burnetts.co.uk/assets/img/no-profile.png" width=20% class="rounded-circle img-thumbnail" style="margin-top: 25px">
                    <p class="hometext" style="font-size: 4vw; font-family: inherit; color: black; text-transform: capitalize">
                        <b>Hello! <br>
                        {{ user.first_name }}</b><br>
                    </p>
            </div>
        </section>

        <div class="text-center mt-5" style="font-variant:small-caps">
            <p id="justtext">Remember the event you wanted to attend?</p>
        </div>

        <section class="events">
			<div class="container">
				<div class="row">
					{% for event in data %}
					<div class="col-md">
						<div class="card mb-4">
								<img class="card-img-top img-thumbnail" src="{% static event.eventimage %}" alt="Card image cap">
								<div class="card-body">
								<p class="card-text">
									<span style="color: #384458"><b>{{ event.eventname }}</b><br></span>
									<i>{{ event.eventdate }}</i><br>
								</p>
								</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
        </section>

    </body>
{% endblock %} 
</html>
