{% extends 'studentunion/base.html' %}
{% load staticfiles %}
{% load static %}
{% block body %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Want to Know More About Us ?</title>
    <script src="https://apis.google.com/js/platform.js"></script>
    <meta name="google-signin-client_id" content="999533023599-f1b247rlm9b9apj8q1tol9r2so73jjon.apps.googleusercontent.com">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    
    
</head>

<style>
    html, body{
        padding: 0;
        margin-bottom: 10vmax;
    }

    table{
        margin-bottom: 30vmax;
    }

    #top, #bottom, #left, #right {
        background: #ffffff;
        position: fixed;
        z-index: 99;
    }
    #left, #right {
        top: 0; bottom: 0;
        width: 3vmax;
    }
    #left { left: 0; }
    #right { right: 0; }

    #top, #bottom {
        left: 0; right: 0;
        height: 3vmax;
        }
        #top { top: 0; }
        #bottom { bottom: 0; }

    .container{
        display: flex;
        width: 100%;
        height: 80%;
        justify-content: center;
    }

    .flex{
        flex: 1;
    }

    .container1{
        display: flex;
        width: 2vmax;
        height: 100%;
        justify-content: center;
    }

    .headertext{
        color: #47525E;
        font-family: Glacial Indifference;
        font-size: 5vmax;
        font-weight: 700;
        line-height: 51px;
        width: 716.82px;
        text-align: center;
        letter-spacing: 1vmax;
        padding: 5vmax;
        margin-top: 7vh;
        word-wrap: break-word;
    }

    label{
        color: white;
    }
    .headertext1{
        color: white;
        font-family: Glacial Indifference;
        font-size: 5vmax;
        font-weight: 700;
        line-height: 51px;
        width: 716.82px;
        text-align: center;
        letter-spacing: 1vmax;
        padding: 5vmax;
        margin-top: 7vh;
        word-wrap: break-word;
    }

    .header{
        color: white;
        font-family: Glacial Indifference;
        font-size: 7vmax;
        font-weight: 700;
        line-height: 51px;
        text-align: center;
        letter-spacing: 1vmax;
        padding: 5vmax;
        text-shadow:  8px 8px #47525E;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: darkgray;
    }

    .box{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        height: 60%;
        padding: 20px;
        background: rgba(71, 82, 94, 0.4);
        color: white;
        text-align: center;
        box-shadow: 0 0 30px rgba(71, 82, 94, 0.4);
    }

    .innerbox{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: 50%;
        padding: 20px;
        background: rgba(52, 63, 75, 0.28);
        color: white;
        text-align: center;
        box-shadow: 0 0 30px rgba(52, 63, 75, 0.28);
    }

    .flexDef {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        justify-content: center;
    }

    .flex6 {
        flex: 6;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bgimg{
        background-image: url("http://i176.photobucket.com/albums/w189/walcom77/103P_October_08_2010_animation.gif");
        background-color: antiquewhite;
        height: 100%;
        width: 100%;
        position: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -99;
    }
</style>
<body>
    <div class = "bgimg"></div>
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>
    <div class = "container">
        <div class = "headertext1"><p>a b o u t   u s.</p></div>
    </div>
    <div class = "container">
        <img src="{% static 'Event/images/Seven-Network-logo.png' %}" style="width:12%; height: 12%;">
        <p style="color: white">Welcome to Kelompok 7's Students Union, the number one students' union in Indonesia. Our job is to represent, support, and enchance the lives of University of Indonesia students.
        We’re called the Students’ Union because that’s what we are; a union of students. It’s the issues that matter to you that drive us. Here you can feel assured that your views count, your voice is strong, and together we’ll use them to make your student life even better!
        The student journey is an exciting one, full of twists and turns. If at any stage the path becomes a little rocky you can rely on our advice and support services to see you back on solid ground.</p>
    </div>
    <div class = "container">
            <section class="form" style="padding: 5vmax;">
                
                {% csrf_token %}
                <form id="form" method="POST" class="post-form">
                    {% csrf_token %}
                    {{ forms.as_p}}
                    <button id="register" disabled="true" class="save btn btn-default" style="margin-left:125px;display:none;">Submit</button>
                </form>
            </section>
    </div>
    <div class = "container">
            <table class="table" style="color:white">
                    <tr>
                        <th>Username</th>
                        <th>Testimony</th>
                    </tr>
                    <tbody>
                        {% for i in tests %}
                            <td> {{i.name}} </td>
                            <td> {{i.testi}} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'about.js' %}"></script>
</body>
</html>

{% endblock %}
