{% extends 'studentunion/base.html' %}
{% load staticfiles %}
{% load static %}
{% block body %}
<html lang="en">
    
<head>
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
    
<style>
    @import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
    .login-block{
        background: #DE6262;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
    background: whitesmoke; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float:left;
    width:100%;
    padding : 50px 0;
    }
    .banner-sec{background:url(https://c.pxhere.com/photos/8e/b2/black_and_white_camera_event_smartphone_taking_photo_technology-981022.jpg!d)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
    .container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
    img{border-radius:0 10px 10px 0;}
    .carousel-caption{text-align:left; left:5%;}
    .login-sec{padding: 50px 30px; position:relative;}
    .login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
    .login-sec .copy-text i{color:#FEB58A;}
    .login-sec .copy-text a{color:#E36262;}
    .login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
    .login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
    .btn-login{background: #DE6262; color:#fff; font-weight:600;}
    .banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
    .banner-text h2{color:#fff; font-weight:600;}
    .banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
    .banner-text p{color:#fff;}
    .btn-googleplus {
	  background: #E93F2E;
	  border-radius: 0;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #b72213;
	}
	.btn-googleplus:link, .btn-googleplus:visited {
	  color: #fff;
	}
	.btn-googleplus:active, .btn-googleplus:hover {
	  background: #b72213;
	  color: #fff;
	}
</style>
    
<body style ="background-color: whitesmoke" class="mt-5">
    
    <section class="login-block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 login-sec">
                    <h2 class="text-center">Welcome</h2>

                        {% block content %}
                            {% if user.is_authenticated %}
                            <div class="text-center">
                                <p style="font-size:150%"><b>You already logged in</b></p>
                            </div>
                            {% else %}
                            <div class="text-center">
                                <a type="button" class="btn btn-primary btn-lg btn-block" style="color:white" href="{% url 'studentregister' %}">Sign Up</a>
                            </div>

                            <div class="mt-2 text-center">
                                <p><strong>-- OR --</strong></p>
                            </div>
                            <div class="text-center">
                                <a href="{% url 'social:begin' 'google-oauth2' %}" title="Google+" class="btn btn-googleplus btn-lg"><i class="fa fa-google-plus fa-fw"></i>Login with Google</a>
                            </div>
                            {% endif %}
                            {% endblock content %}</p>
                </div>
                <div class="col-md-8 banner-sec">
                    <img style="transform: scaleX(-1);" class="d-block img-fluid" src="https://c.pxhere.com/photos/8e/b2/black_and_white_camera_event_smartphone_taking_photo_technology-981022.jpg!d" alt="Home Image">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="banner-text">
                            <h2>This is Heaven</h2>
                            <p>“Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.” – Thomas A. Edison</p>
                        </div>	
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>
{% endblock %}