{% extends 'studentunion/base.html' %}
{% load staticfiles %}
{% load static %}
{% block body %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="google-signin-client_id" content="999533023599-f1b247rlm9b9apj8q1tol9r2so73jjon.apps.googleusercontent.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Loging in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="{% static 'javascript.js' %}"></script>
    <style media="screen">
      .la{
        font-size: 40px
      }
    </style>
</head>

<body style="background: #EBEBEB">
  <div class="bgimg" style="z-index:-99"></div>
       <!-- <div class="flexh1" style="padding-top:85px">
           <center><h1 style="font-size: 4vmax;">Login with Google</h1><center>
       </div> -->
       <center><div class="flexbox" style="margin-top:50px; padding-top:85px">
           {% csrf_token %}
           <a class="la" href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
           <!-- <div class="g-signin2" data-onsuccess="onSignIn" data-width="300" data-height="40" data-longtitle="true"></div> -->
       </div></center>
</body>
</html>

{% endblock %}