{% extends 'studentunion/base.html' %}
{% load staticfiles %}
{% load static %}
{% block body %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Care To Join Us?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <script>
            $(function () {
                $(".datepicker").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "2018:2070",
                });
            });
        </script>
</head>

<body style="background-color: #dddddd">
        <div id="left"></div>
        <div id="right"></div>
        <div id="top"></div>
        <div id="bottom"></div>
        <div class = "container">
            <div class = "headertext"><p>Care to Join Us?</p></div>
        </div>
        <div class = "container">
            <div class ="container1">
                <section class="form">
                    <form id="form" method="POST" class="post-form">
                        {% csrf_token %}
                        {{ form.as_p}}
                        <div class = "container">
                            <button type="submit" class="save btn btn-default" style="margin:30px;">Submit</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>

</body>
</html>

{% endblock %}