<!doctype html>
{% load static %}
<html lang="en">
  <head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: white">
        <a href="{% url 'landingpage' %}"><img src="{% static 'Event/images/Seven-Network-logo.png' %}" width="50vw" style="margin-right: 3vw"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" style="margin-right: 3vw" href="{% url 'list' %}"><b>Event</b></a>
                <a class="nav-item nav-link" style="margin-right: 3vw" href="{% url 'news' %}"><b>News</b></a>
                <a class="nav-item nav-link" style="margin-right: 3vw" href="{% url 'about' %}"><b>About</b></a>
            </div>
            {% if user.is_authenticated %}
            <div class="navbar-nav ml-auto">
                <li class="nav-item dropdown mr-3">
                    <a class="nav-link" id="navbarDropdown1" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#c5e8d6"><b>Hello, {{ user.first_name }} </b></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1" id="nav">
                        <li><a class="dropdown-item" style="font-size:15px;" href="{% url 'userevents' %}"><b>Your Events</b></a></li>
                        <li><a class="loginfo dropdown-item" style="font-size:15px;" href="{% url 'logout' %}" onclick="signOut()"><b>Logout</b></a></li>
                    </ul>
                 </li>
            </div>
            {% else %}
            <a></a>
            {% endif %}
    </nav>
{% block body %}
{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>