{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block body %}
    <title>News</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </head>
  <body>

    <style>

    body{
        background-color: #EBEBEB;
    }

    #tombol{
      border-radius: 5px;
      width: 192px;
      height: 50px;
      font-family: Lato;
      letter-spacing: 3px;
    }

    .modal-content{
      background-color: #EBEBEB;
      color: #00070A;
      font-family: Lato;
      text-align: justify;
    }

    .row{
      top: 50px;
    }

    a{
      color: #597884;
    }

    .col-lg-12 {
      top: 25%;
      height: 100px;
      color: #47525E;
      font-family: Lato;
      font-size: 5vw;
      font-weight: 700;
      width: 812px;
      text-align: center;
      letter-spacing: 8px;
    }

    .col-lg-4{
      padding-bottom: 20%;
    }

    </style>
	
    <div class="container" style="padding-top: 50px;">
      <div class="row" style="height:100px;">
        <div class="col-lg-12">
          Keep yourself updated.
        </div>
      </div>
    </div>
    <div class="container" style="padding-top: 50px;">

        <div class="row">
          <div class="col-lg-4 col-xl-offset-1">
              <div class="card">
                <img class="card-img-top" src="https://i.imgur.com/mngf3Yy.jpg"alt="Snow" style="width:100%;">
                <div class="card-body">
                  <h5 class="card-title">Student Exchange Program</h5>
                </div>
              </div><br><center>
              <button type="button" class="btn btn-secondary" id="tombol" data-toggle="modal" data-target="#exchange">
                Details
              </button></center>
          </div>

          <div class="col-lg-4 col-xl-offset-1">
            <div class="card">
              <img class="card-img-top" src="https://i.imgur.com/pJhnaOk.jpg" alt="Snow" style="width:100%;">
              <div class="card-body">
                <h5 class="card-title">Get Yourself Involved!</h5>
              </div>
            </div><br><center>
            <button type="button" class="btn btn-secondary" id="tombol" data-toggle="modal" data-target="#volunteer">
              Details
            </button></center>
          </div>

          <div class="col-lg-4 col-xl-offset-1">
            <div class="card">
              <img class="card-img-top" src="https://i.imgur.com/l4yXnHb.jpg" alt="Snow" style="width:100%;">
              <div class="card-body">
                <h5 class="card-title">The time is NOW!</h5>
            </div>
          </div><br><center>
            <button type="button" class="btn btn-secondary" id="tombol" data-toggle="modal" data-target="#scholarship">
              Details
            </button></center>
          </div>

          </div>

          <div class="modal fade" id="exchange">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h2 class="modal-title"><strong>Student Exchange Program</strong></h2>
                  <button type="button" class="close" id="tombol" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div class="content">
                          <p><strong>What can student exchange provide?</strong></p>
                      <ul type="disc">
                      <li>
                      		broaden your horizon, get a new learning experience</li>
                      <li>
                      		take courses you do not find here</li>
                      <li>
                      		learn about a new culture and potentially learn a new language</li>
                      <li>
                      		make new friends and potentially valuable career contacts</li>
                      </ul>
                      <p><strong>Who is eligible?</strong></p>
                      <ul type="disc">
                      <li>
                      		any student, including international students</li>
                      <li>
                      		need to fulfill the language requirements of the destination country (program may or may not be in English) but you can prepare with language courses here - only exchange places are offered for which Windsor has preparatory courses</li>
                      <li>
                      		cumulative average of B- (8.0) or better, good academic standing</li>
                      </ul>
                      <p><strong>What are the conditions?</strong></p>
                      <ul type="disc">
                      <li>
                      		You will take a full course load at the partner University (according to what is considered a full course load there) and pay corresponding tuition fees in Windsor</li>
                      <li>
                      		In some cases, scholarships are available from the partner University; any scholarships and support obtained can be kept (OSAP, OGS, SSHRC); potentially some travel support is provided; note that the living cost in the partner country may be lower</li>
                      <li>
                      		1 or 2 semesters stay</li>
                      <li>
                      		check courses for transfer credit in advance with CS contact person</li>
                      <li>
                      		help in housing etc. is provided</li>
                      </ul>
                      <p><strong>Application Deadlines</strong></p>
                      <p>January 15<sup>th</sup> and September 15<sup>th</sup></p>
                      <p class="rtecenter"><a href="https://studentexchange.or.id/" target="_blank"><em><strong>For more information, visit the Student Exchange Program Website.</strong></em></a></p>
                        </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" id="tombol" data-dismiss="modal">Close</button>
                </div>

              </div>
            </div>
          </div>

          <div class="modal fade" id="volunteer">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h2 class="modal-title"><strong>Volunteering for DISRUPTO is a HIT!</strong></h2>
                  <button type="button" class="close" id="tombol" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">This is it! <br><br>
                  Disrupto is Indonesian collective disruptive energy! This page is dedicated to our one of a kind community of future entrepreneurs & tech enthusiast! <br><br>
                  DISRUPTO 2018 volunteer application goes live, crowd goes wild! <br>Stop whatever it is you are doing and apply now! It is going to be worth it.
                   <br><br> Go check the link down below!!
                   <p class="rtecenter"><a href="https://the-disrupto.com/" target="_blank"><em><strong>www.the-disrupto.com</strong></em></a></p><br>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" id="tombol" data-dismiss="modal">Close</button>
                </div>

              </div>
            </div>
          </div>

          <div class="modal fade" id="scholarship">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h2 class="modal-title"><strong>Scholarships Offered</strong></h2>
                  <button type="button" class="close" id="tombol" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div class="panel-body">
    											<!--- Accordion 5 Information --->
                          <ul type="disc"><strong>
                          <li>
                            <p><a href="https://www.abetterflorist.com/scholarships" target="blank">A Better Florist Scholarship</a></p>
                          </li>
                          <li>
                            <p><a href="https://www.cimb.com/en/corporate-responsibility/cimb-asean-scholarship.html" target="blank">CIMB ASEAN Scholarship</a></p>
                          </li>
                          <li>
                          <p><a href="https://sg.club21global.com/club21/sustainability_scholarship/" target="blank">Club 21 Scholarship</a></p>
                          </li>
                          <li>
                           <p><a href="https://evolve-mma.com/scholarship/" target="blank">Evolve Warrior Scholarship</a></p>
                           </li>
                           <li>
                            <p><a href="https://abs.org.sg/dr-goh-keng-swee-scholarship" target="blank">Dr Goh Keng Swee (GKS) Scholarship</a></p>
                          </li>
                          <li>
                            <p><a href="https://www.herflowers.sg/scholarships" target="blank">Her Flowers Scholarship</a></p>
                          </li>
                          <li>
                            <p><a href="http://kuokfoundation.com/study_under_latest.html" target="blank">Kuok Foundation Undergraduate Awards</a></p>
                          </li>
                          <li>
                            <p><a href="http://www.saudiaramco.com/en/home/careers/saudi-applicants/our-programs/high-school-and-diploma-graduates/CDPNE.html" target="blank">Saudi Aramco Scholarship</a></p>
                          </li>
                        </strong>
                          </ul>

											</div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" id="tombol" data-dismiss="modal">Close</button>
                </div>

              </div>
            </div>
          </div>

      </div>
    </div>
    {% endblock %}
  </body>
</html>
